@import url('../../.cache/wal/colors-waybar.css');

window {
   background-image: url("../../wallpapers/lockscreen.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: @color0;
}


#window-box{
  color: @color15;
  background-color: transparent;
  border-radius: 5px;
  opacity: 0.95;


/*  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8); */
     
  padding: 1em 3em;
}

#date-label,
#input-label{
	font-size: 0;
}

#clock-label{
	font-family: Libre Baskerville;
	font-weight: bold;
	color: @color14;
	font-size: 10em;
	margin: 0em 0em 2em 0em;
}

#input-field{
	border-radius: 20px;
	margin: 1em;
	padding: 0em 0.7em;
	font-size: 2em;
	border: 1px solid @color6;


}

#input-field:focus{
	border: 1px solid @color14;
}

#unlock-button {
	background-color: transparent;
	border: none;
	color: transparent;
	font-size: 0;
}

#user-name {
	color: @color10;
	font-family: Allura;
	font-size: 0em;
}

